<mat-drawer-container class="example-container contenido">
    <mat-drawer #drawer fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)" class="example-sidenav"
        fxLayout="column" fxLayoutAlign="start stretch">
        <div fxLayout="row" fxLayoutAlign="center center">
            <img src="assets/images/logo.PNG" alt="" style="width: 100px;height: 100px; padding: 20px;" />
        </div>
        <mat-selection-list #shoes [multiple]="false">
            <mat-list-option routerLink="/admin">
                <mat-icon mat-list-icon color="primary">pin_drop</mat-icon>
                <div mat-line class="color-p-primary">Maps</div>
            </mat-list-option>
            <mat-list-option routerLink="/admin">
                <mat-icon mat-list-icon color="primary">person</mat-icon>
                <div mat-line class="color-p-primary">Person</div>
            </mat-list-option>
            <mat-list-option routerLink="/admin">
                <mat-icon mat-list-icon color="primary">groups</mat-icon>
                <div mat-line class="color-p-primary">Group</div>
            </mat-list-option>
            <mat-list-option routerLink="/admin">
                <mat-icon mat-list-icon color="primary">church</mat-icon>
                <div mat-line class="color-p-primary">Church</div>
            </mat-list-option>
        </mat-selection-list>
    </mat-drawer>
    <mat-drawer-content fxLayout="column" fxLayoutAlign="space-between stretch">
        <app-header [drawer]="drawer"></app-header>
        <div fxFlex style="padding: 10px 20px;">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </mat-drawer-content>
</mat-drawer-container>