@use '@angular/material' as mat;
@include mat.core();

$bv-brand: (
    50: #fafafa,
    100: #f5f5f5,
    200: #eeeeee,
    300: #212121,
    400: #212121,
    500: #212121,
    600: #212121,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #fafafa,
    A200: #f5f5f5,
    A400: #212121,
    A700: #000000,
    contrast: (
        50: white,
        100: white,
        200: white,
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: white,
        A200: white,
        A400: white,
        A700: white,
    )
);

$theming-material-components-primary: mat.define-palette($bv-brand);
$theming-material-components-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$theming-material-components-warn: mat.define-palette(mat.$red-palette);

$theming-material-components-theme: mat.define-light-theme(
   (
    color: (
      primary: $theming-material-components-primary,
      accent: $theming-material-components-accent,
      warn: $theming-material-components-warn
    ),
  )
);

@include mat.all-component-themes($theming-material-components-theme);

/*
@use "@angular/material" as mat;

@include mat.core();

$my-app-primary: mat.define-palette(mat.$indigo-palette);
$my-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-app-warn: mat.define-palette(mat.$red-palette);

$my-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-app-primary,
      accent: $my-app-accent,
      warn: $my-app-warn,
    ),
  )
);

@include mat.all-component-themes($my-app-theme);*/